@charset "UTF-8";


.menu-info:before {
  background: url('../img/sub_box_default.png') no-repeat;
}

/*con-info*/

.con-info.white {
  border-top: 0;
  margin-top: 0;
}
.con-info.white .menu-info .info-list p {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 10px;
  line-height: 24px;
  display: inline-block;
}
.con-info.white .menu-info .info-list p:before {
  display: none;
}
.con-info.white .menu-info .info-list span {
  color: #437dea;
  font-weight: 600;
}

/*con-search*/

.con-search {
  display: flex;
  border: 3px solid #c5c9d6;
  margin-top: 50px;
  overflow: hidden;
  padding: 30px;
  box-sizing: border-box;
  line-height: 42px;
}
.con-search h3 {
  display: inline-block;
  width: 120px;
  line-height: 42px;
  font-size: 20px;
  font-weight: 500;
  color: #28348a;
  letter-spacing: -.03em;
}
.input-text {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  border-left: 1px dotted #a4a5aa;
}
.input-text ul {
  position: relative;
  float: left;
}
.input-text ul li {
  float: left;
  display: inline-block;
  line-height: 46px;
}
.input-text ul li + li {
  margin-left: 15px;
}
.input-text label {
  display: inline-block;
  width: 60px;
  font-size: 16px;
  font-weight: 500;
  color: #363c5a;
  letter-spacing: -.03em;
}
.input-text input {
  max-width: 125px;
  margin: 2px 5px;
  display: inline-block;
  background: #fff;
  border: 1px solid #c5c9d6;
  border-radius: 6px;
  vertical-align: middle;
  height: 42px;
  line-height: 42px;
  padding: 0 8px 2px;
  box-sizing: border-box;
}
.input-text a {
  display: inline-block;
  position: relative;
  min-width: 70px;
  padding: 5px 20px;
  border: 1px solid #437dea;
  background: #437dea;
  color: #fff;
  border-radius: 3px;
  line-height: 28px;
  text-align: center;
  box-sizing: border-box;
  vertical-align: -1.5px;
  margin-left: 2px;
}
.input-text a:after {
  content: '';
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  vertical-align: -3px;
  background: url('../img/btn_icon_sprite.png') no-repeat;
  background-position: right 71.42%;
}

/*con-tree-wrap*/
.con-tree-wrap {
  margin-top: 60px;
  letter-spacing: -.03em;
}
.con-tree {
  text-align: center;
  margin-bottom: 45px;
}
.box {
  display: inline-block;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #c5c9d6;
  box-sizing: border-box;
}
.con-tree.first .main-tree {
  position: relative;
  padding-bottom: 70px;
}
.main-tree > a {
  width: 200px;
  display: inline-block;
  background: #111d68;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  line-height: 60px;
  box-sizing: border-box;
  border: 0;
}
.con-tree.first .main-tree:nth-child(2) {
  padding-bottom: 280px;
}
.con-tree.first .main-tree:nth-child(2):after {
  content: '';
  position: absolute;
  height: 280px;
  width: 1px;
  background: #c5c9d6;
  top: 60px;
  left: 50%;
}
.main-tree:nth-child(2) > a {
  background: #28348a;
}
.right-tree-wrap {
  position: absolute;
  left: calc( 50% + 27px );
}
.right-tree-wrap a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: 27px;
  background: #f7f8fa;
  font-size: 16px;
  color: #363c5a;
  line-height: 43px;
  margin: 12px 0;
}
.right-tree-wrap a:before {
  content: '';
  position: absolute;
  width: 27px;
  height: 35px;
  border-left: 1px solid #c5c9d6;
  border-bottom: 1px solid #c5c9d6;
  left: -28px;
  top: -14px;
  cursor: auto;
}
.right-tree-wrap a + a:before {
  top: -13px;
}
.right-tree-wrap a:after {
  content: '';
  position: absolute;
  width: 27px;
  height: 35px;
  border-left: 1px solid #c5c9d6;
  left: -28px;
  bottom: -14px;
  cursor: auto;
}
.sub-tree > ul {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.sub-tree > ul > li {
  float: left;
  width: 148px;
}
.tree-title {
  position: relative;
  width: 100%;
  cursor: pointer;
  line-height: 48px;
  border-color: #111d68;
}
.tree-title a.box {
  box-sizing: border-box;
}
.tree-title a {
  color: #111d68;
  font-weight: 500;
}
.tree-title a:before {
  content: '';
  position: absolute;
  width: 60%;
  left: -8px;
  height: 19px;
  border-top: 1px solid #c5c9d6;
  top: -22px;
  cursor: auto;
}
.tree-title a:after {
  content: '';
  position: absolute;
  width: 55%;
  left: 50%;
  height: 19px;
  border-top: 1px solid #c5c9d6;
  border-left: 1px solid #c5c9d6;
  top: -22px;
  cursor: auto;
}
li:first-child .tree-title a:before {
  display: none;
}
li:last-child .tree-title a:before {
  width: 56%;
}
li:last-child .tree-title a:after {
  border-top: 0;
  top: -21px;
}
.tree-sub {
  width: 100%;
  border-top: 0;
  border-radius: 0 0 6px 6px;
  margin-top: -3px;
  min-height: 161px;
  padding: 20px 0;
}
.tree-sub a {
  font-size: 16px;
  color: #636363;
  line-height: 24px;
}

.con-tree.part {
  display: flex;
  justify-content: space-around;
}
.con-tree.part .main-tree > .box a {
  color: #fff;
  cursor: pointer;
}
.con-tree.part .main-tree {
  flex: 50%;
  margin: 0 .5%;
}
.con-tree.part .main-tree > .box {
  width: 200px;
  background: #437dea;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  border: 0;
  cursor: pointer;
}
.con-tree.part .sub-box {
  position: relative;
  padding: 7px 14px;
  border: 1px solid #c5c9d6;
  border-radius: 6px;
  margin-top: 19px;
}
.con-tree.part .sub-box:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 19px;
  background: #c5c9d6;
  top: -20px;
  left: 50%;
}
.con-tree.part .sub-box ul {
  display: flex;
  justify-content: space-around;
}
.con-tree.part .sub-box li {
  border: 0;
  background: #f4f5f9;
  color: #363c5a;
  line-height: 50px;
  width: 96%;
  margin-top: 7px;
  margin-bottom: 7px;
  cursor: pointer;
}
.con-tree.part .sub-box li + li {
  margin-left: 2%;
}
.con-tree.third .main-tree, .con-tree.fourth .main-tree {
  flex: 100%;
}
.con-tree.fourth .main-tree > .box {
  background: #00a3a0;
}
.con-tree.fourth .sub-box ul {
  display: block;
  overflow: hidden;
}
.con-tree.fourth .sub-box li {
  width: calc( 91% / 7 );
  float: left;
}
.con-tree.fourth .sub-box li + li {
  margin-left: 1.5%;
}
.con-tree.fourth .sub-box li:nth-child(7n+1) {
  margin-left: 0;
}
/*Now the CSS*/

/* .tree {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}


.tree ul {
  padding-top: 70px;
  position: relative;
}
.tree > ul {
  display: inline-block;
  padding-top: 60px;
}

.tree li {
  float: left;
  text-align: center;
  position: relative;
  padding: 20px 5px 0 5px;
}
ul.right-tree-wrap:before {
  display: none;
}
ul.right-tree-wrap {
  padding-top: 0;
  position: absolute;
  left: calc( 50% + 23px);
}
ul.right-tree-wrap > a {
  position: absolute;
}
ul.right-tree-wrap > li.right-tree {
  display: inline-block;
  vertical-align: middle;
}
ul.right-tree-wrap > a:after {
  content: '';
  position: absolute;
  left: -29px;
  bottom: 22px;
  width: 28px;
  height: 1px;
  background: #c5c9d6;
}
.main-tree > ul > li {
  float: none;
}

.tree .sub-tree div > a {
  display: block;
}

.tree li:before, .tree li:after{
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #c5c9d6;
  width: 50%; height: 20px;
  }

.tree li:after{
  right: auto;
  left: 50%;
  border-left: 1px solid #c5c9d6;
}


.tree li:only-child::after, .tree li:only-child::before {
display: none;
}


.tree li:only-child{ padding-top: 0;}

/
.tree li:first-child::before, .tree li:last-child::after{
border: 0 none;
}

.tree li:last-child::before{
border-right: 1px solid #ccc;
border-radius: 0 5px 0 0;
-webkit-border-radius: 0 5px 0 0;
-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
border-radius: 5px 0 0 0;
-webkit-border-radius: 5px 0 0 0;
-moz-border-radius: 5px 0 0 0;
}

.tree ul ul::before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #c5c9d6;
  width: 0;
  height: 70px;
  margin-left: -1px;
}

.tree li a {
  display: inline-block;
  width: 200px;
  border-radius: 6px;
  border: 1px solid #c5c9d6;
  font-size: 16px;
  font-weight: 300;
  color: #363c5a;
  line-height: 43px;
  background-color: #f7f8fa;
  box-sizing: border-box;
}
.tree li.main-tree > a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background-color: #111d68;
  line-height: 60px;
  box-sizing: border-box;
}

li a.just-line {
  display: none;
}
a.just-line + ul {
padding-top: 74px;
}
a.just-line + ul:before {
height: 74px;
} */
