@charset "UTF-8";

html,body { height: 100%; }
html,body,ul,li,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,ol { list-style: none; }
a { text-decoration: none; }

:before, :after {
  position: absolute;
  content: '';
}

.lnb-wrap {
  display: none;
}
