@charset "UTF-8";
@font-face{font-weight:400; font-family:'DWImpactamin'; src:url("../font/DWImpactamin.woff2") format('woff2'),url("/common_2020/fonts/DWImpactamin.woff") format('woff');}

.flex-wrap {
  display: flex;
}
.flex-2 {
  flex: 50%;
}


.lnb-wrap.lnb-active {
  visibility: visible;
  opacity: 1;
}

.contents-wrap {
  position: relative;
  max-width: 1400px;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.b-contents {
  display: none;
}
.b-contents.view-active {
  display: block;
}

/* swiper */
#main .swiper-pagination-fraction {
  bottom: 100%;
  left: 135px;
    top: 47px;
    width: 82px;
    height: 45px;
    padding-top: 12px;
    padding-left: 17px;
    letter-spacing: -.1em;
    border-radius: 25px;
    background-color: #edf0f9;
    color: #363c5a;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    box-sizing: border-box;
}


/* contents */

#main {
  position: relative;
}
#main:before {
  content: '';
  position: absolute;
  background: url('../img/rowgroup_bg.png') no-repeat;
  top: 0;
  right: 0;
  bottom: -60px;
  width: 1265px;
  background-size: cover;
}
#main .contents-wrap {
  padding-top: 65px;
  padding-left: 860px;
}
#main .contents-wrap:before {
  content: '';
  display: block;
  position: absolute;
  top: 285px;
  right: calc(100% + 77px);
  width: 100%;
  height: 24px;
  border-bottom: 1px solid #e5e7ee;
  background: url('../img/rowgroup_text.png') no-repeat right top;
}
#main .contents-wrap h2 {
  position: absolute;
  top: 50px;
  left: 0;
}
#main .contents-wrap .swiper-prev, #main .contents-wrap .swiper-next {
  position: absolute;
  background: url('../img/visual_sprite.png') no-repeat;
  top: 53%;
  width: 24px;
  height: 24px;
  z-index: 20;
  opacity: .5;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
#main .contents-wrap .swiper-prev:hover, #main .contents-wrap .swiper-next:hover {
  opacity: 1;
}
#main .contents-wrap .swiper-prev {
  background-position: left 77.92%;
  left: -40px;
}
#main .contents-wrap .swiper-next {
  background-position: left 100%;
  left: 56%;
}
#main .contents-wrap .swiper {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 120px;
  width: 770px;
  border-radius: 40px;
}
#main .contents-wrap .swiper .btn-pause-main {
  position: absolute;
  top: 11.5%;
  left: 24%;
  z-index: 10;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  margin-left: 2px;
  font-size: 0;
  background: url('../img/visual_sprite.png') no-repeat;
  background-position: left 37.97%;
  cursor: pointer;
}
#main .contents-wrap .swiper .btn-pause-main.on {
  background-position: left 56.96%;
}
#main .contents-wrap .swiper .swiper-slide {
  border-radius: 40px;
  overflow: hidden;
}
#main .contents-wrap .character {
  position: relative;
  height: 330px;
  width: 540px;
  padding: 85px 0 0 52px;
  border: 1px solid #ffd5d1;
  border-radius: 35px;
  background-color: #ffecea;
  box-shadow: 19px 38px 30px 0 rgb(25 53 116 / 12%);
  box-sizing: border-box;
}
#main .contents-wrap .character:before {
  position: absolute;
  content: '';
  background: url('../img/mayor_photo2.png') no-repeat;
  right: 36px;
  bottom: 0;
  width: 269px;
  height: 319px;
}
#main .contents-wrap .character:after {
  content: '';
  position: absolute;
  top: 88px;
  right: -41px;
  width: 439px;
  height: 439px;
  background: url('../img/mayor_bg2.png') no-repeat;
}
#main .contents-wrap .character p {
  position: relative;
  color: #363c5a;
  font-size: 26px;
  line-height: 38px;
  letter-spacing: -0.025em;
}
#main .contents-wrap .character p span {
  font-size: 36px;
  letter-spacing: 0.05em;
}
#main .contents-wrap .character .link {
  position: relative;
  margin-top: 38px;
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
#main .contents-wrap .character .link a {
  border-radius: 16px;
  z-index: 1;
}
#main .contents-wrap .character .link span {
  display: inline-block;
  position: relative;
  padding-right: 38px;
  padding-left: 30px;
  border-radius: 16px;
  color: #43475e;
  font-size: 17px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: -0.03em;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
#main .contents-wrap .character .link span:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16px;
  height: 1px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #939ab0;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
#main .contents-wrap .character .link span:after {
  position: absolute;
  background: url('../img/mayor_sprite.png') no-repeat;
  display: block;
  content: '';
  opacity: 0;
  visibility: hidden;
  top: 13px;
  right: 17px;
  width: 17px;
  height: 9px;
    background-position: left top;
  transition-property: opacity, visibility;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
#main .contents-wrap .character .link a:hover span {
  background: #fff;
  margin-left: -10px;
  padding-left: 20px;
  box-shadow: 2px 4px 20px 0 rgba(0,0,0,7%);
  color: #ec6c61;
}
#main .contents-wrap .character .link a:hover span:before {
  opacity: 0;
  left: -20px;
}
#main .contents-wrap .character .link a:hover span:after {
  opacity: 1;
  visibility: inherit;
}
#main .contents-wrap .main-icon {
  position: relative;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}
#main .contents-wrap .main-icon a {
  display: block;
}
#main .contents-wrap .main-icon a .icon {
  position: relative;
  overflow: hidden;
  top: 10px;
  width: 90px;
  height: 90px;
  border-radius: 30px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgb(13 36 78 / 15%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .contents-wrap .main-icon a .icon div {
  width: 44px;
  height: 44px;
  background: url('../img/shortcut_sprite.png') no-repeat;
  background-position: left top;
}
#main .contents-wrap .main-icon a:nth-child(2) .icon div {
  background-position: left 33.33%;
}
#main .contents-wrap .main-icon a:nth-child(3) .icon div {
  background-position: left 66.66%;
}
#main .contents-wrap .main-icon a:nth-child(4) .icon div {
  background-position: left 100%;
}
#main .contents-wrap .main-icon a:hover .icon {
  box-shadow: 0 0 25px 0 rgb(13 36 78 / 25%);
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
#main .contents-wrap .main-icon a:hover .icon div {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform: rotateY(360deg);
}
#main .contents-wrap .main-icon a p {
  margin-top: 30px;
  text-align: center;
  color: #1a1a1a;
  font-size: 17px;
  font-weight: 600;
  line-height: 19px;
  white-space: nowrap;
}

#first {
  margin-top: 39px;
  position: relative;
}
#first .contents-wrap {
  position: relative;
  padding-right: 610px;
}
#first .board {
  position: relative;
  width: 100%;
  height: 511px;
}
#first .board:before {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  background-color: #e5e7ee;
  left: 215px;
  right: auto;
  width: 100vw;
  height: 1px;
  margin-top: auto;
  margin-bottom: auto;
}
#first .board .board-top {
  margin-top: 10px;
  box-sizing: border-box;
}
#first .board .board-top:before {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #e5e7ee;
}
#first .board .board-top ul {
  position: relative;
}
#first .board .board-top li:before {
  display: block;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #437de9;
  transform: translateX(-50%);
  transition: width .25s ease-in-out;
  z-index: 1;
}
#first .board .board-top li.active:before {
  width: 100%;
}
#first .board .board-top li.active a {
  color: #111d68;
  font-size: 20px;
  font-weight: 700;
}
#first .board .board-top > ul:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #e5e7ee;
}
#first .board .board-top ul > a {
  overflow: hidden;
  position: absolute;
  display: inline-block;
  z-index: 1;
  width: 28px;
  height: 28px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border: 1px solid #e5e7ee;
  border-radius: 50%;
  background-color: #fff;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
#first .board .board-top ul > a:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background: url('../img/board_sprite.png') no-repeat;
  background-position: left 78.84%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: background-position;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
#first .board .board-top ul > a:hover {
  background-color: #7a7d96;
  border: 1px solid #7a7d96;
}
#first .board .board-top ul  > a:hover:after {
  background-position: left 100%;
}
#first .board ul > li {
  position: relative;
  display: inline-block;
}
#first .board ul > li > a {
  display: inline-block;
  position: relative;
  height: 65px;
  padding-right: 20px;
  padding-left: 20px;
  color: #7a7d96;
  font-size: 18px;
  font-weight: 600;
  line-height: 65px;
  transition-duration: 0.2s;
  transition-property: font-size;
  transition-timing-function: ease-in-out;
}
#first .board ul > li > a.active {
  color: #111d68;
  font-size: 20px;
  font-weight: 400;
}
#first .board .b-contents {
  position: absolute;
  margin-top: 25px;
  width: 100%;
}
#first .board .b-contents ul li {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
#first .board .b-contents ul li + li {
  border-top: 1px solid #e5e7ee;
}
#first .board .b-contents ul li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 27px;
  height: 100%;
  overflow: hidden;
  max-height: 60px;
  color: #1a1a1a;
  font-size: 17px;
  font-weight: 400;
  text-overflow: ellipsis;
  line-height: 30px;
  white-space: nowrap;
  transition-duration: .25s;
  transition-timing-function: ease-in-out;
  transition-property: color;
}
#first .board .b-contents ul li:hover > a {
  color: #437dea;
}
#first .board .b-contents ul li a:before {
  content: '';
  display: block;
  position: absolute;
  top: 27px;
  left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #437dea;
}
#first .board .b-contents ul li span {
  line-height: 60px;
  text-align: center;
  width: 105px;
  font-weight: 400;
  flex-shrink: 0;
}
#first .promotion {
  position: absolute;
  top: 61px;
  right: 0;
  width: 540px;
  box-sizing: border-box;
}
#first .promotion:before {
  display: inline-block;
  content: '';
  position: absolute;
  bottom: 20px;
  right: -20px;
  width: 100%;
  height: calc(100% - 22px);
  border-radius: 30px;
  border: 1px solid #e5e7ee;
  box-sizing: border-box;
}
#first .promotion h2 {
  position: relative;
  padding: 17px 0 12px 60px;
  color: #ec6c61;
  font-size: 30px;
  line-height: 41px;
}
#first .promotion .swiper {
  border-radius: 30px;
}
#first .promotion .swiper .swiper-slide {
  border-radius: 30px;
  overflow: hidden;
}
#first .promotion .prom-control {
  position: absolute;
  bottom: 371px;
  right: 25px;
  margin-bottom: 21px;
}
#first .promotion .swiper-pagination {
  position: absolute;
  top: 25px;
  bottom: 100%;
  left: 25%;
  letter-spacing: -.1em;
}
#first .promotion .swiper-pagination span {
  font-size: 15px;
  color: #969696;
  font-weight: 600;
}
#first .promotion .swiper-pagination span:nth-of-type(1) {
  color: #000;
}
#first .promotion .prom-control button, #first .promotion .prom-control .btn-pause-prom {
  position: relative;
  display: inline-block;
  background: url('../img/promotion_sprite.png') no-repeat;
  background-position: left 33.33%;
  margin-top: -2px;
  width: 17px;
  height: 20px;
  cursor: pointer;
}
#first .promotion .prom-control .btn-pause-prom {
  background-position: left 66.66%;
}
#first .promotion .prom-control .btn-pause-prom.on {
  background-position: left 100%;
}
#first .promotion .prom-control button:nth-child(3) {
  transform: rotate(180deg);
}
#first .promotion .prom-control button:nth-child(1):hover, #first .promotion .prom-control button:nth-child(3):hover {
  background-position: left top;
}
#second {
  margin-top: 50px;
}
#second .container {
  background: #f4f9f9;
  padding-top: 45px;
  text-align: center;
}
#second .title, #fourth .title {
  font-family:'DWImpactamin', sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: #363c5a;
}
.slick-slider-wrap {
  position: relative;
}
.slick-slider {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 50px 55px;
}
.slick-line-hide {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 5px;
  background-color: #f4f9f9;
}
.slick-line-hide.left {
  left: 50px;
}
.slick-line-hide.right {
  right: 50px;
}
.slick-slider .slick-arrow {
  position: absolute;
  opacity: .5;
  top: 23%;
  cursor: pointer;
}
.slick-slider .slick-arrow:hover {
  opacity: 1;
}
.slick-slider .slick-arrow:first-of-type {
  left: 0;
}
.slick-slider .slick-arrow:last-of-type {
  right: 0;
  transform: rotate(180deg);
}
.slick-slider .slick-slide {
  position: relative;
  padding-top: 5px;
  height: 140px;
}
.slick-slider .slick-slide + .slick-slide:before {
  position: absolute;
  content: '';
  top: 15px;
  left: 0;
  height: 30%;
  width: 1px;
  background: url('../img/weather_dot.png');
}
.slick-slider img, .slick-slider p {
  margin: 0 auto;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}
.slick-slider a:hover img {
  margin-top: -5px;
}
.slick-slider a:hover p {
  margin-top: 17px;
}
.slick-slider .slick-slide p {
  margin-top: 12px;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  vertical-align: top;
}

#third {
  position: relative;
  padding: 135px 0 90px;
  text-align: center;
}
#third:before, #third:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  background: url('../img/rowgroup5_sprite.png') no-repeat;
}
#third:before {
  top: 100px;
  left: -10%;
  width: 649px;
  height: 507px;
  background-position: left top;
}
#third:after {
  top: 40px;
  right: -17%;
  width: 793px;
  height: 740px;
  background-position: left 100%;
}
#third .head-title {
  position: relative;
  display: inline-block;
}
#third .head-title:before {
  position: absolute;
  content: '';
  display: block;
  background: url('../img/service_sprite.png') no-repeat;
  top: -60px;
  left: -135px;
  z-index: -1;
  width: 177px;
  height: 115px;
  background-position: left top;
}
#third .inner {
  margin-top: 50px;
}
#third .inner .items {
  display: inline-block;
    position: relative;
    width: 45%;
    height: 434px;
    padding: 60px 65px;
    border: 1px solid #e6e6e6;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 20px 38px 30px 0 rgb(25 53 116 / 9%);
    text-align: left;
    vertical-align: top;
    box-sizing: border-box;
}
#third .inner .items + .items {
  margin-left: 51px;
}
#third .inner .items + .items:before {
  content: '';
  position: absolute;
  display: block;
  top: -106px;
  right: 18px;
  width: 154px;
  height: 105px;
  background: url('../img/service_charactor.png') no-repeat;
  z-index: -1;
}
#third .inner .items .menu-title {
  position: relative;
}
#third .inner .items .menu-title:after {
  content: '';
  position: absolute;
  background: url('../img/service_sprite.png') no-repeat;
  top: -10px;
  right: 0;
  width: 90px;
  height: 64px;
}
#third .inner .items:first-child .menu-title:after {
  background-position: left 56.6%;
}
#third .inner .items:last-child .menu-title:after {
  background-position: left 76.54%;
}
#third .inner .items .menu-title .title {
  font-family: 'DWImpactamin', sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #141414;
}
#third .inner .items:first-child .menu-title .title span {
  color: #ec6c61;
}
#third .inner .items:last-child .menu-title .title span {
  color: #007a7f;
}
#third .inner .items .menu-title > span {
  display: inline-block;
  margin-top: 7px;
  color: #7d7d7d;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.1em;
}
#third .inner .items .line {
  position: relative;
  margin-top: 20px;
  padding-top: 16px;
}
#third .inner .items .line:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: url('../img/service_sprite.png');
  background-repeat: repeat-x;
  background-position: left 82.67%;
}
#third .inner .items .list {
  overflow: hidden;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#third .inner .items .list li {
  margin-top: 10px;
}
#third .inner .items .list a {
  position: relative;
  display: block;
  padding-left: 35px;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -.1em;
}
#third .inner .items .list span {
  color: #7d7d7d;
  font-size: 14px;
}
#third .inner .items:first-child .list a:hover {
  color: #ec6c61;
}
#third .inner .items:last-child .list a:hover {
  color: #007a7f;
}
#third .inner .items .list a:before {
  position: absolute;
  content: '';
  background: url('../img/service_sprite.png') no-repeat;
  top: 5px;
  left: 5px;
  width: 16px;
  height: 15px;
  background-position: left 88.09%;
}
#third .inner .items:first-child .list a:hover:before {
  background-position: left 94.04%;
}
#third .inner .items:last-child .list a:hover:before {
  background-position: left 100%;
}
#fourth {
  padding-bottom: 75px;
}
#fourth .container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
#fourth .items:nth-child(1) {
  flex-grow: 0;
  padding-right: 50px;
}
#fourth .items:nth-child(2) .photolink-wrap {
  border: 1px solid #e5e7ee;
}
#fourth .title-wrap {
  position: relative;
}
#fourth .title-wrap > a {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  padding-right: 50px;
  padding-left: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e7ee;
  border-radius: 18px;
  line-height: 35px;
  transition-property: border-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
#fourth .title-wrap > a:after {
  content: '';
  position: absolute;
  background: url('../img/photo_arrow.png') no-repeat;
  top: 0;
  right: 27px;
  bottom: 0;
  width: 11px;
  height: 11px;
  margin-top: auto;
  margin-bottom: auto;
  transition-property: right;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
#fourth .title-wrap > a:hover {
  border-color: #437dea;
  color: #437dea;
}
#fourth .title-wrap > a:hover:after {
  right: 22px;
}
#fourth .photolink-wrap {
  margin-top: 35px;
  margin-bottom: 30px;
}
#fourth .items:first-child .photolink-wrap .item:hover .photo-wrap img {
  transform: scale(1.1);
}
#fourth .photolink-wrap .item:hover .sub .min-title {
  text-decoration: underline;
}
#fourth .photolink-wrap .item:nth-child(2) {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid #e5e7ee;
  border-bottom: 1px solid #e5e7ee;
}
#fourth .photolink-wrap .item > a {
  display: flex;
}
#fourth .items .photolink-wrap .item .photo-wrap {
  display: inline-block;
  overflow: hidden;
  float: left;
  width: 150px;
  height: 95px;
  border-radius: 5px;
  margin-right: 30px;
}
#fourth .items:first-child .photolink-wrap .item:first-child .photo-wrap {
  width: 280px;
  height: 195px;
  flex-shrink: 0;
}
#fourth .photolink-wrap .item .photo-wrap img {
  width: 100%;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
#fourth .photolink-wrap .item .sub .ac-title {
  display: inline-block;
  box-sizing: border-box;
  min-width: 70px;
  height: 20px;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  line-height: 20px;
  transform: translateY(2px);
}
#fourth .photolink-wrap .item:nth-child(1) .sub .ac-title {
  background: #ec6c61;
}
#fourth .photolink-wrap .item:nth-child(2) .sub .ac-title {
  background: #00a3a0;
}
#fourth .photolink-wrap .item:nth-child(3) .sub .ac-title {
  background: #437dea;
}
#fourth .photolink-wrap .item .sub .min-title {
  display: inline-block;
  max-height: 56px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 600;
  vertical-align: bottom;
  word-break: keep-all;
  color: #1a1a1a;
}
#fourth .photolink-wrap .item .sub p {
  max-height: 66px;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #7d7d7d;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;
  word-break: keep-all;
  white-space: normal;
  box-sizing: border-box;
}
#fourth .photolink-wrap .item .sub .date {
  display: block;
  margin-top: 10px;
  color: #636363;
  font-size: 14px;
  font-weight: 600;
}
#fourth .link-wrap {
  overflow: hidden;
  border-radius: 5px;
  background: #f9f9f4;
  border-collapse: collapse;
}
#fourth .link-wrap a {
  width: 50%;
  float: left;
  position: relative;
  border: 1px solid #d5e1da;
  box-sizing: border-box;
  padding-left: 60px;
  background: url('../img/shortcut_arrow.png') no-repeat 30px center;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 300;
  line-height: 63px;
}
#fourth .link-wrap a:nth-child(even) {
  border-left: 0;
}
#fourth .link-wrap a:nth-child(1), #fourth .link-wrap a:nth-child(2) {
  border-bottom: 0;
}
#fourth .link-wrap a:before {
  content: '';
  position: absolute;
  background: url('../img/shortcut_arrow.png') no-repeat 30px center;
}
#fourth .link-wrap a:hover {
  text-decoration: underline;
}
#fourth .items:nth-child(2) .title-wrap {
  /* overflow: hidden; */
  margin-top: 38px;
}
#fourth .items:nth-child(2) .title-wrap h2 {
  display: inline-block;
  position: relative;
  padding-left: 110px;
  color: #111d68;
  font-size: 30px;
  line-height: 36px;
}
#fourth .items:nth-child(2) .title-wrap h2:before {
  content: '';
  position: absolute;
  top: -38px;
  left: 0;
  width: 101px;
  height: 66px;
  background-position: left top;
  background: url('../img/sns_sprite.png') no-repeat;
}
#fourth .items:nth-child(2) .title-wrap ul {
  float: right;
}
#fourth .items:nth-child(2) .title-wrap ul li {
  float: left;
  padding-left: 10px;
}
#fourth .items:nth-child(2) .title-wrap ul li a:hover {
  box-shadow: 0 0 10px 0 rgb(13 36 78 / 25%);
}
#fourth .items:nth-child(2) .title-wrap ul li a {
  display: block;
  overflow: hidden;
  width: 36px;
  position: relative;
  height: 36px;
  border-radius: 18px;
  color: #fff;
  font-size: 0;
  line-height: 36px;
  transition-property: box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
#fourth .items:nth-child(2) .title-wrap ul li:nth-child(1) a {
  background: #59c843;
}
#fourth .items:nth-child(2) .title-wrap ul li:nth-child(2) a {
  background: #d91e1e;
}
#fourth .items:nth-child(2) .title-wrap ul li:nth-child(3) a {
  background: url('../img/sns_bg.png') no-repeat;
  background-size: 100% 100%;
}
#fourth .items:nth-child(2) .title-wrap ul li:nth-child(4) a {
  background: #ffdc50;
}
#fourth .items:nth-child(2) .title-wrap ul li:nth-child(5) a {
  background: #4868ac;
}
#fourth .items:nth-child(2) .title-wrap ul li a:after {
  content: '';
  position: absolute;
  background: url('../img/sns_sprite.png') no-repeat;
  top: 0;
  right: 0;
  bottom: 0;
  width: 36px;
  height: 36px;
  margin: auto;
}
#fourth .items:nth-child(2) .title-wrap ul li:nth-child(1) a:after {
  background-position: left 27.35%;
}
#fourth .items:nth-child(2) .title-wrap ul li:nth-child(2) a:after {
  background-position: left 37.66%;
}
#fourth .items:nth-child(2) .title-wrap ul li:nth-child(3) a:after {
  background-position: left 47.98%;
}
#fourth .items:nth-child(2) .title-wrap ul li:nth-child(4) a:after {
  background-position: left 58.29%;
}
#fourth .items:nth-child(2) .title-wrap ul li:nth-child(5) a:after {
  background-position: left 17.04%;
}
#fourth .items:nth-child(2) .photolink-wrap {
  margin-top: 25px;
  margin-bottom: 0;
}
#fourth .items:nth-child(2) .photolink-wrap .item {
  display: block;
  position: relative;
  height: 198px;
  padding: 19px 29px 19px 29px;
  padding-bottom: 30px;
  box-sizing: border-box;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
#fourth .items:nth-child(2) .photolink-wrap .item .photo-wrap {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 160px;
  background-color: #000;
  text-align: center;
  flex-shrink: 0;
  line-height: 160px;
}
#fourth .items:nth-child(2) .photolink-wrap .item .photo-wrap:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #000;
  z-index: 10;
  transition-property: opacity, visibility;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
#fourth .items:nth-child(2) .photolink-wrap .item .photo-wrap:after {
  content: '';
  position: absolute;
  background: url('../img/sns_sprite.png') no-repeat;
  width: 36px;
  height: 36px;
  margin: auto;
  opacity: 0;
  background-position: left 78.92%;
  top: 50%;
  left: 50%;
  z-index: 15;
  transform: translate(-50%, -50%);
  transition-property: opacity, visibility;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
#fourth .items:nth-child(2) .photolink-wrap .item .photo-wrap.youtube:after {
  background-position: left 89.23%;
}
#fourth .items:nth-child(2) .photolink-wrap .item:hover {
  background-color: #f9fafc;
}
#fourth .items:nth-child(2) .photolink-wrap .item:hover .photo-wrap:before {
  opacity: .7;
}
#fourth .items:nth-child(2) .photolink-wrap .item:hover .photo-wrap:after {
  opacity: 1;
}
#fourth .items:nth-child(2) .photolink-wrap .item:nth-child(2) {
  margin: 0;
}
