@charset "UTF-8";

.wrap {
  width: 1400px;
  margin: 0 auto;
  display: flex;
}

.left-menu {
  flex: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 40px;
  margin-bottom: 80px;
}

.left-menu .side-title p {
  display: inline-block;
  position: relative;
  padding-top: 2px;
  padding-right: 16px;
  padding-left: 5px;
  color: #1a1a1a;
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  vertical-align: middle;
}
.left-menu .side-title p:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 14px;
  background: url('../img/menu_sprite.png') no-repeat;
  background-position: left top;
}
li.more > a:before {
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: url('../img/menu_sprite.png') no-repeat;
  background-position: left 31.57%;
  top: 0;
  right: 15px;
  bottom: 0;
  margin: auto 0;
}
li.more.site a:before {
  background-position: left 100%;
  width: 12px;
  height: 12px;
}
li.more.active > a:before {
  background-position: left 51.31%;
}
.side-list {
  margin-top: 42px;
}
.side-list > ul > li {
  position: relative;
  border-radius: 4px;
  border: none;
  text-align: -webkit-match-parent;
}
.side-list > ul > li.active {
  position: relative;
  z-index: 10;
  border: 1px solid #437dea;
}
.side-list > ul > li > a {
  border: 1px solid #c5c9d6;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: relative;
  padding: 12px 50px 12px 20px;
  color: #444;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  line-height: 22px;
  letter-spacing: -.01em;
  word-break: keep-all;
  transition-property: background-color, color;
  transition-duration: .25s;
  transition-timing-function: linear;

}
.side-list > ul > li.active > a {
  background-color: #437dea;
  border: 1px solid #437dea;
  border-radius: 0;
  color: #fff;
}
.side-list > ul > li + li {
  margin-top: 5px;
}
.list-in {
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition-property: visibility, opacity, background-color, height;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}
li.active > .list-in {
  opacity: 1;
  visibility: visible;
  padding: 12px 20px;
  height: 100%;
}
.list-in a:hover {
  text-decoration: underline;
}
li.active > .list-in > ul > li {
  margin-top: 10px;
}
.list-in > ul > li > a {
  position: relative;
  display: block;
  padding-right: 11px;
  padding-left: 11px;
  font-size: 15px;
  line-height: 22px;
  color: #444;
  word-wrap: break-word;
  word-break: keep-all;
}
.list-in > ul > li.more.active > a {
  color: #111d68;
}
.list-in > ul > li.more > a:before {
  content: '';
  position: absolute;
  background: url('../img/menu_sprite.png') no-repeat;
  background-position: left 31.57%;
  width: 10px;
  height: 10px;
  right: 0;
}
.list-in > ul > li.more.active > a:before {
  background-position: left 71.05%;
}
.list-in > ul > li > a:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 1px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c5c9d6;
}
.list-in-in {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  transition-property: visibility, opacity, height;
  transition-duration: .25s;
  transition-timing-function: linear;
}
.list-in > ul > li.more.active .list-in-in {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.list-in-in > ul {
  margin-top: 10px;
  padding: 10px 5px;
  background-color: #f4f5f9;
}
.list-in-in > ul > li {
  margin-top: 6px;
  font-size: 15px;
}
.list-in-in > ul > li > a {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  color: #7d7d7d;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  word-wrap: break-word;
  word-break: keep-all;
}
.list-in-in > ul > li.active > a {
  color: #111d68;
}
.list-in-in > ul > li > a:after {
  content: '';
  position: absolute;
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 11px;
  left: 10px;
  width: 0;
  height: 0;
  background-color: #c5c9d6;
}
.list-in-in > ul > li.active > a:after {
  opacity: 1;
  visibility: visible;
  width: 5px;
  height: 1px;
}
.list-in > ul > li.active .list-in-in > ul > li > a:after {
  opacity: 1;
  visibility: visible;
  width: 5px;
  height: 1px;
}
.list-in > ul > li.active .list-in-in > ul > li.active > a:after {
  background-color: #111d68;
}
ul > li.site > a.link:before {
  content: '';
  position: absolute;
  background: url('../img/menu_sprite.png') no-repeat;
  top: 5px;
  right: 0;
  bottom: auto;
  width: 12px;
  height: 12px;
  margin-top: auto;
  margin-bottom: auto;
  background-position: left 100%;
}

.contents {
  margin-top: 40px;
  margin-left: 50px;
  padding-bottom: 80px;
  width: 100%;
  flex: 100%;
}
.con-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #7a7d96;
  box-sizing: border-box;
}
.con-title h2 {
  display: inline-block;
  padding-top: 14px;
  color: #1a1a1a;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -.1em;
  font-family: inherit;
}
.title-right .menu-tree {
  padding-top: 14px;
  padding-bottom: 25px;
  padding-right: 110px;
  box-sizing: border-box;
}
.title-right .menu-tree ul {
  overflow: hidden;
}
.title-right .menu-tree ul li {
  float: left;
  position: relative;
  padding: 7px 0;
  line-height: 0;
}
.title-right .menu-tree ul li + li {
  padding-left: 16px;
  margin-left: 16px;
}
.title-right .menu-tree ul li + li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px;
  height: 7px;
  margin-top: auto;
  margin-bottom: auto;
  background: url('../img/breadcrumbs_arrow.png') no-repeat;
}
.title-right .menu-tree ul li a {
  color: #7d7d7d;
  font-size: 14px;
  line-height: 18px;
}
.title-right .menu-tree ul li a:hover {
  text-decoration: underline;
}
.title-right .menu-tree ul li.active a {
  color: #1a1a1a;
}
.title-right {
  display: flex;
  justify-content: center;
  position: relative;
}
.icon-btn-wrap {
  position: absolute;
  width: 110px;
  right: 0;
  top: 9px;
  line-height: 0;
  font-style: 0;
  text-align: right;
}
.icon-btn-wrap button {
  background-color: #fff;
  padding: auto;
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #c5c9d6;
  border-radius: 13px;
  box-sizing: border-box;
  transition-property: border-color, background-color, box-shadow;
  transition-duration: .25s;
  transition-timing-function: linear;
  cursor: pointer;
}
.icon-btn-wrap button:hover {
  border-color: #363c5a;
  background-color: #fff;
  box-shadow: 0 0 20px rgb(17 29 104 / 15%);
}
.icon-btn-wrap button + button {
  margin-left: 10px;
}
.icon-btn-wrap button:before {
  content: '';
  position: absolute;
  background: url('../img/share_sprite.png') no-repeat;
  width: 15px;
  height: 16px;
  background-position: left top;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.icon-btn-wrap button:nth-of-type(2):before {
  background: url('../img/print_sprite.png') no-repeat;
  width: 17px;
}

.con-info {
  margin-bottom: 50px;
}
.con-info.white {
  position: relative;
  border-top: 3px solid #7a7d96;
  border-bottom: 4px solid #c5c9d6;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 0;
}
.con-info.white:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 3px;
  height: 40px;
  background-color: #7a7d96;
  z-index: 1;
}
.con-info.white:after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 170px;
  height: 4px;
  background: url('../img/sub_box_bg.png') repeat-x;
}
.menu-info {
  position: relative;
  padding: 40px 40px 40px 170px;
  min-height: 150px;
  background: #f7f8fa;
  box-sizing: border-box;
}
.menu-info:before {
  background: url('../img/notice_box_icon1.png') no-repeat;
}
.con-info.white .menu-info {
  background: #fff;
}
.menu-info:before {
  content: '';
  position: absolute;
  top: 30px;
  left: 30px;
  width: 100px;
  height: 90px;
}
.con-info .menu-info h3 {
  margin-top: 0;
  font-size: 19px;
  font-weight: 500;
  color: #363c5a;
  line-height: 24px;
}
.con-info.white .menu-info h3 {
  font-weight: 700;
  margin-bottom: 20px;
}
.con-info .menu-info .info-list p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  color: #636363;
  line-height: 24px;
}
.con-info.white .menu-info .info-list p {
  position: relative;
  margin-bottom: 2px;
  margin-top: 0;
  line-height: 28px;
  padding-left: 20px;
}
.con-info.white .menu-info .info-list p:before {
  content: '';
  position: absolute;
  left: 0;
  top: 9px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #7a7d96;
}

.con-form {
  margin-top: 30px;
  height: 1000px;
}
.state-bar-wrap {
  display: flex;
  margin-bottom: 20px;
}
.state-bar {
  flex: 50%;
  border: 1px solid #9a9a9a;
  position: relative;
  vertical-align: middle;
  height: 70px;
  padding: 0 20px 0 65px;
  color: #555;
  background: #fff url('../img/icon_defOrder_3.png') 30px center no-repeat;
  font-size: 17px;
  font-weight: 500;
}
.state-bar + .state-bar {
  border-left: none;
}
.state-bar.active:before {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  width: 20px;
  height: 72px;
  background: url('../img/bg_stepArr_on.png') no-repeat;
  z-index: 10;
}
.state-bar.active {
  background: #318de7 url('../img/icon_defOrder_1_ov.png') 30px center no-repeat;
  color: #fff;
}
.state-bar span {
  display: inline-block;
  line-height: 70px;
  letter-spacing: -0.025em;
}

.priv-check-wrap {
  margin: 0 auto;
  z-index: 10;
  background: #fff;
}
.priv-check-wrap p {
  color: #555;
  font-size: 15px;
  letter-spacing: -0.025em;
}
.title-box {
  position: relative;
  margin-top: 30px;
  padding: 17px 15px;
  background: #f4f5f9;
  border-top: 1px solid #c4c9ce;
  box-sizing: border-box;
  z-index: 10;
}
.title-box p {
  position: relative;
  color: #111;
  font-weight: 500;
  font-size: 19px;
  padding-right: 35px;
}
.certf-wrap .title-box button {
  position: absolute;
  right: 0;
  width: 35px;
  height: 35px;
  top: 11px;
  margin-right: 15px;
  background: url('../img/btn_slideArrow.png') no-repeat;
  transform: rotate(180deg);
  cursor: pointer;
  transition-property: transform;
  transition-duration: .25s;
  transition-timing-function: linear;
  cursor: pointer;
  z-index: 10;
}
.certf-wrap .title-box.off button {
  transform: rotate(0deg);
}
.box-wrap {
  border-bottom: 1px solid #000;
  padding: 25px;
  height: 240px;
  overflow-y: auto;
  box-sizing: border-box;
  background: #fff;
  z-index: 10;
}
.box-cont + .box-cont {
  margin-top: 30px;
}
.box-cont p {
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 15px;
  letter-spacing: 0;
  color: #555;
  margin-left: 10px;
}
.box-cont .main-t {
  margin-bottom: 15px;
  margin-left: 0;
}
.box-cont .num-t {
  margin-bottom: 8px;
}
.ess-check {
  display: inherit;
  text-align: center;
  margin: 10px 0 20px;
  line-height: 130%;
}
.ess-check input[type="checkbox"] {
  width: 18px;
  height: 18px;
  vertical-align: -3px;
  margin-right: 5px;
  color: #555;
  font-size: 15px;
}
.ess-check span {
  display: inline-block;
  cursor: pointer;
}
.warn-text {
  position: relative;
  margin-bottom: 7px;
  padding-left: 15px;
  line-height: 1.5;
  text-align: left;
  background: #fff;
  z-index: 100;
}
.warn-text:before {
  content: '';
  position: absolute;
  left: 0;
  top: 9px;
  width: 6px;
  height: 6px;
  background: #888c92;
  border-radius: 50%;
}
.certf-wrap {
  color: #555;
  letter-spacing: -.025em;
}
.certf-btn-wrap {
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: inline-block;
  transform: translateY(0);
  opacity: 1;
  z-index: 10;
  /* visibility: visible; */
  transition-property: padding;
  transition-duration: .25s;
  transition-timing-function: linear;
}
.title-box.off + .certf-btn-wrap {
  padding-top: 0;
}
.certf-btn-wrap:before {
  content: '';
  position: absolute;
  background: #fff;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  transition-property: top;
  transition-duration: .25s;
  transition-timing-function: linear;
}
.title-box.off + .certf-btn-wrap:before {
  top: 0;
}
.certf-btn {
  padding: 25px 10px 25px 75px;
  display: block;
  position: relative;
  float: left;
  width: 49.5%;
  border: 1px solid #d2d2d2;
  color: #555;
  font-size: 17px;
  margin-left: 0;
  margin-top: 1%;
  box-sizing: border-box;
  z-index: 0;
  cursor: pointer;
}
.certf-btn:nth-child(even) {
  margin-left: 1%;
}
.certf-btn:nth-child(1) {
  background: url('../img/login_list_icon_0.png') left 25px center no-repeat;
}
.certf-btn:nth-child(2) {
  background: url('../img/login_list_icon_1.png') left 25px center no-repeat;
}
.certf-btn:nth-child(3) {
  background: url('../img/login_list_icon_5.png') left 25px center no-repeat;
}
.certf-btn:nth-child(4) {
  background: url('../img/login_list_icon_2.png') left 25px center no-repeat;
}
.certf-btn:nth-child(5) {
  background: url('../img/login_list_icon_3.png') left 25px center no-repeat;
}
.certf-btn:nth-child(6) {
  background: url('../img/login_list_icon_4.png') left 25px center no-repeat;
}
.homepage-wrap {
  display: table;
  position: relative;
  width: 100%;
  margin: 10px 0;
  padding: 15px 30px 15px 26px;
  border-radius: 5px;
  border: 1px solid #c5c9d6;
  color: #555;
  box-sizing: border-box;
}
.homepage-wrap .main-t {
  display: table-cell;
  position: relative;
  width: 104px;
  padding-left: 29px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #363c5a;
  vertical-align: top;
  box-sizing: border-box;
}
.homepage-wrap .main-t span:before {
  content: '';
  position: absolute;
  background: url('../img/stress_sprite.png') no-repeat;
  background-position: left 100%;
  left: 0;
  top: 4px;
  width: 17px;
  height: 17px;
}
.homepage-wrap span:nth-child(2) {
  position: relative;
  padding-left: 20px;
}
.homepage-wrap span:nth-child(2):before {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  top: 4px;
  width: 1px;
  height: 17px;
  border-left: 1px dotted #a4a5aa;
}
.homepage-wrap button {
  position: absolute;
  right: 30px;
  top: 13px;
  padding: 0 15px;
  font-size: 14px;
  min-width: 70px;
  margin: 0;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: #7a7d96;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fff;
  line-height: 28px;
  text-align: center;
  font-weight: 300;
  transition-property: color, border, background-color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  vertical-align: middle;
}
.homepage-wrap button:hover, .opinion input[type="submit"]:hover {
  border-color: #363c5a;
  box-shadow: 0 0 20px rgb(17 29 104 / 15%);
}
.homepage-wrap button a {
  position: relative;
  display: inline-block;
  padding-right: 21px;
  color: #363c5a;
  font-size: 14px;
  letter-spacing: -.1em;
}
.homepage-wrap button:hover a {
  color: #111d68;
}
.homepage-wrap button a:before {
  content: '';
  position: absolute;
  display: inline-block;
  background: url('../img/btn_icon_sprite.png') no-repeat;
  background-position: left 28.57%;
  width: 16px;
  height: 16px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 6px;
  margin-right: 3px;
  vertical-align: -2px;
}
.homepage-wrap button:hover a:before {
  background-position: -26px 28.57%;
}

.bottom-wrap {
  margin-top: 80px;
  border: 1px solid #c5c9d6;
}
.satisfy-check {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
}
.satisfy-check > span {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #363c5a;
}
.satisfy-radio {
  position: relative;
  font-size: 14px;
  color: #636363;
}
.satisfy-radio span {
  cursor: pointer;
}
.satisfy-radio span + span {
  margin-left: 8px;
}
.satisfy-radio input {
  position: absolute;
}
.satisfy-radio label {
  position: relative;
  display: inline-block;
  padding-left: 24px;
  line-height: 22px;
  vertical-align: top;
  box-sizing: border-box;
  letter-spacing: -0.8px;
  cursor: pointer;
}
.satisfy-radio label:before {
  content: '';
  position: absolute;
  background: url('../img/check_sprite.png') no-repeat;
  top: 1px;
  left: 1px;
  width: 20px;
  height: 20px;
  border: 1px solid #c5c9d6;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  cursor: pointer;
}
.satisfy-radio label:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 7px;
  width: 8px;
  height: 8px;
  background: #e5e7ee;
  border-radius: 50%;
}
.satisfy-radio input:checked + label:before {
  background: #363c5a;
  border: 1px solid #363c5a;
}
.satisfy-radio input:checked + label:after {
  background: #fff;
}
.opinion {
  padding: 0 20px 15px;
}
.opinion form {
  position: relative;
}
.opinion input {
  display: inline-block;
  margin: 2px 0;
  background-color: #fff;
  vertical-align: middle;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  height: 42px;
  padding: 0 8px 2px;
  line-height: inherit;
}
.opinion input[type="text"] {
  width: calc(100% - 110px);
  margin-right: 9px;
  font-size: 14px;
  border: 1px solid #c5c9d6;
  color: #7d7d7d;
}
.opinion input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
  padding: 7px 10px;
  border-color: #7a7d96;
  color: #363c5a;
  cursor: pointer;
}
.info-wrap {
  position: relative;
  padding: 21px 190px 20px 20px;
  border-top: 1px solid #c5c9d6;
  background-color: #fafbff;
  display: flex;
  justify-content: space-between;
}
.informs ul {
  overflow: hidden;
}
.informs ul li {
  float: left;
  position: relative;
  padding-right: 40px;
  padding-left: 24px;
  font-size: 15px;
  line-height: 20px;
}
.informs ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 17px;
  height: 17px;
  background: url('../img/manager_sprite.png') no-repeat;
}
.informs ul li:nth-child(1):before {
  background-position: left top;
}
.informs ul li:nth-child(2):before {
  background-position: left top -26px;
}
.informs ul li:nth-child(3):before {
  background-position: left top -51px;
}
.informs ul li span {
  padding-right: 13px;
  font-weight: 300;
  color: #363c5a;
}
.info-wrap .right {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  height: 30px;
  margin: auto;
}
.info-wrap .right button {
  position: relative;
  padding-right: 21px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.info-wrap .right button:before {
  position: absolute;
  content: '';
  right: 0;
  top: 2px;
  width: 17px;
  height: 15px;
  background: url('../img/manager_sprite.png') no-repeat;
  background-position: left top -76px;
}
.info-wrap .text-bubble {
  display: none;
  position: absolute;
  right: 0;
  top: -34px;
  padding: 9px 18px;
  border-radius: 19px;
  border: 1px solid #7a7d96;
  background-color: #fff;
}
.info-wrap .text-bubble.on {
  display: block;
}
.info-wrap .text-bubble:before {
  content: '';
  position: absolute;
  background: url('../img/kogl_item.png') no-repeat;
  right: 26px;
  bottom: -6px;
  width: 8px;
  height: 6px;
}
.info-wrap .text-bubble p {
  font-size: 14px;
  line-height: 20px;
}

.search-wrap {
  margin-top: 50px;
  background: #f4f5f9;
  border-color: #f4f5f9;
  margin-bottom: 30px;
  padding: 12px;
}
.search-wrap .search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.search select, .search input {
  display: inline-block;
  margin: 2px 0;
  border: 1px solid #c5c9d6;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  height: 42px;
}
.search select {
  -webkit-padding-end: 47px;
  background: url('../img/select_sprite.png') no-repeat right top #fff;
  -webkit-appearance: none;
  cursor: pointer;
  min-width: 100px;
  padding: 0 47px 2px 12px;
  margin-right: 10px;
  width: 185px;
}
.search input {
  padding: 0 8px 2px;
  width: 337px;
}
.search button {
  position: relative;
  display: inline-block;
    min-width: 70px;
    margin: 0 0 0 10px;
    padding: 5px 39px 5px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #437dea;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    transition-property: color, border, background-color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    vertical-align: middle;
    height: 42px;
    margin-right: 10px;
    cursor: pointer;
}
.search button:hover {
  box-shadow: 0 0 20px rgb(17 29 104 / 15%);
}
.search button:after {
  content: '';
  position: absolute;
  background: url('../img/btn_icon_sprite.png') no-repeat;
  background-position: right 71.42%;
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 8px;
}
.numbering {
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
  height: 30px;
  margin-top: 10px;
  padding-left: 22px;
  /* background-image: url(/common_2020/images/program/p-page.png); */
  background-repeat: no-repeat;
  background-position: left 7px;
  color: #636363;
  line-height: 30px;
}
.numbering:before {
  position: absolute;
  content: '';
  background: url('../img/p-page.png') no-repeat;
  background-position: left 7px;
  width: 100%;
  height: 100%;
  left: 0;
}
.numbering span + span {
  margin-left: 8px;
}
.numbering span > span {
  margin-left: 5px;
  color: #363c5a;
}
table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
  margin: 20px 0;
  border-top: 2px solid #7a7d96;
}
.board-table-wrap {
  margin: 5px 0 15px 0;
  border-collapse: separate;
}
th, td {
  position: relative;
  padding: 15px 11px;
  border-bottom: 1px solid #e5e7ee;
  background: #fff;
  text-align: center;
  vertical-align: middle;
  word-break: keep-all;
}
th, tr.header td {
  color: #363c5a;
  font-size: 600;
}
.board-table-wrap th + th:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 1px;
  height: 14px;
  background-color: #c5c9d6;
  box-sizing: border-box;
}
.board-table-wrap td {
  color: #7d7d7d;
  letter-spacing: -.03em;
}
td.file {
  width: 80px;
}
td.file img {
  max-width: 100%;
  max-height: 100%;
}
td.title {
  text-align: left;
}
td.title a {
  position: relative;
  color: #555;
  font-weight: 600;
}
td.date {
  width: 120px;
  box-sizing: border-box;
}
td.head-title {
  background: #f2f4f7;
  font-weight: 600;
  color: #363c5a;
}
.title a:before {
  content: '';
  position: absolute;
  display: inline-block;
  top: 0;
  right: -41px;
  background: url('../img/p-icon.png') no-repeat;
  width: 37px;
  height: 20px;
  background-position: -135px -30px;
  margin: 3px 0 0 4px;
}
.notice + .title a:before {
  display: none;
}
.pagenation-wrap {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagenation-wrap div + div {
  margin-left: 8px;
}
.page-btn-wrap button {
  border: 1px solid #c5c9d6;
  border-radius: 4px;
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 38px;
  cursor: pointer;
}
.page-btn-wrap button:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 14px;
  background: url('../img/paging_sprite.png') no-repeat;
  background-size: auto;
  margin: 0 auto;
  top: 11px;
  left: 11px;
}
button + button {
  margin-left: 4px;
}
.page-btn-wrap button.first-btn:before {
  background-position: left top;
}
.page-btn-wrap button.prev-btn:before {
  background-position: left 33.33%;
}
.page-btn-wrap button.last-btn:before {
  background-position: left 66.66%;
}
.page-btn-wrap button.next-btn:before {
  background-position: left 100%;
}
.page-btn-wrap button:hover {
  border: 1px solid #363c5a;
}
.page-btn-wrap button.first-btn:hover:before {
  background-position: right top;
}
.page-btn-wrap button.prev-btn:hover:before {
  background-position: right 33.33%;
}
.page-btn-wrap button.last-btn:hover:before {
  background-position: right 66.66%;
}
.page-btn-wrap button.next-btn:hover:before {
  background-position: right 100%;
}
.page-count a {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 4px;
  background: #fff;
  font-weight: 600;
  margin-left: 0;
}
.page-count a.active {
  color: #437dea;
  background: #f4f5f9;
}
.page-count a:hover {
  background: #f4f5f9;
}

.info-box {
  margin-top: 50px;
  margin-bottom: 20px;
}
.info-box h3 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  color: #437dea;
  margin-bottom: 20px;
}
.info-box p {
  line-height: 24px;
  color: #555;
}
.justify-table td {
  border-bottom: 1px solid #c5c9d6;
  border-collapse: collapse;
  padding: 14px 10px;
}
.justify-table td.head-title, .info-table th:not(:last-child), .info-table td:not(:last-child) {
  border-right: 1px solid #e5e7ee;
}
.justify-table td.head-title + td {
  text-align: left;
}
.justify-table td.head-title + td p {
  position: relative;
  margin: 8px 0;
  padding-left: 22px;
  font-size: 15px;
  line-height: 22px;
  color: #363c5a;
}
.justify-table td.head-title + td p:before {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  width: 16px;
  height: 16px;
  background: url('../img/warnig_sprite.png') no-repeat;
  background-position: -26px top;
  top: 50%;
  transform: translateY(-50%);
}
.justify-table ul {
  padding-left: 10px;
}
.justify-table ul li {
  position: relative;
  margin-bottom: 2px;
  font-weight: 300;
  line-height: 28px;
  color: #636363;
  padding-left: 20px;
  font-size: 15px;
}
.justify-table ul li:before {
  position: absolute;
  content: '';
  border-color: #7a7d96;
  left: 0;
  top: 9px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
}
.order-list {
  margin: 10px 0;
}
.order-list li {
  position: relative;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 2px;
  font-weight: 300;
  line-height: 28px;
  color: #636363;
}
.order-list li:before {
  position: absolute;
  content: '';
  left: 0;
  top: 9px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #437dea;
}
.order-list li span {
  display: inline-block;
  position: relative;
  width: 75px;
  padding-right: 14px;
  font-weight: 500;
  color: #363c5a;
  line-height: 30px;
  box-sizing: border-box;
  font-weight: 600;
}
.info-table th {
  background-color: #f4f5f9;
}
.info-table tr td:nth-child(1) {
  background-color: #f9fafc;
}
.info-box .box-wrapper {
  margin: 20px 0;
}
.info-box .box-item {
  display: inline-block;
  width: calc(100% / 3 - 30px);
  margin-bottom: 20px;
  margin-right: 20px;
  box-sizing: border-box;
}
.info-box .box-item .item {
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #c5c9d6;
  vertical-align: top;
}
.info-box .box-item .item.effect {
  background: #f7f8fa;
}
.info-box .box-item .item:last-child {
  margin-right: 0;
}
.info-box .box-item .item p {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #363c5a;
}
.info-box .box-item .item span {
  height: 44px;
  font-size: 15px;
  line-height: 22px;
  color: #555;
}
